   	<!-- Header -->
   	<header id="header" class="header">
		<div class="header-wrap">
		 <div class="container">
		    <div class="row">
				<div class="col-md-12">
					<nav id="mainnav" class="mainnav">
						<ul class="menu">
							<li><%= link_to t(:dashboard), administration_root_path, :class => "button" %></span></li>
							<li><%= link_to t(:users), administration_users_path, :class => "button" %></li>
							<li><%= link_to t(:articles), administration_articles_path, :class => "button" %></li>							
							<li><%= link_to t(:images), administration_images_path, :class => "button" %></li>
							<li><%= link_to t(:categories), administration_categories_path, :class => "button" %></li>
							<li><%= link_to t(:tags), administration_tags_path, :class => "button" %></li>
						</ul><!-- /.menu -->
					</nav><!-- /nav -->
				</div><!-- /.col-md-9 -->
<%#=
				<div class="col-md-3">
					<div class="search-wrap">
						<div class="search-icon"></div><!-- //mobile search button -->
							<form action="#" id="searchform" class="search-form" method="get" role="search">
								<input type="text" id="s" placeholder="Search" class="search-field">
								<input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
								<a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
							</form>
					  </div><!-- /.search-wrap -->
				  </div><!-- /.col-md-3 -->
%>
		    </div><!-- /.row -->
		 </div><!-- /.container -->
		</div><!-- /.header-wrap -->
	</header>		