<!-- Header -->
<header id="header" class="header">
	<div class="header-wrap">
		<div class="container">
			<div class="row">
			<div class="col-md-9">
				<nav id="mainnav" class="mainnav">
					<ul class="menu">
						<% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
							<% if current_site.nav_menus.find_by_slug(item[:url].split('/').last) != nil %>
								<li class="has-children"><a class="active" href="index.html"><%= item[:label] %></a>
									<ul class="sub-menu">
									<% cama_menu_parse_items(current_site.nav_menus.find_by_slug(item[:url].split('/').last).children).each do |item| %>
											<li><a href="<%= item[:url] %>"><%= item[:label] %></a></li>
										<% end %>
									</ul>
								</li>
							<% else %>
								<li><a href="<%= item[:url] %>"><%= item[:label] %></a></li>
							<% end %>
						<% end %> 
					</ul><!-- /.menu -->
				</nav><!-- /nav -->
			</div><!-- /.col-md-9 -->
			<div class="col-md-3">
				<div class="search-wrap">
					<div class="search-icon"></div><!-- //mobile search button -->
					<%= form_tag(cama_search_path, :method => "get", :class => "search-form", :id => "searchform") do %>
						<input type="text" id="s" name="q" placeholder="Search" class="search-field">
						<input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
						<a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
					<% end %>
				</div><!-- /.search-wrap -->
			</div><!-- /.col-md-3 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.header-wrap -->
</header>		