<div class="footer-wrapper">
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container ">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-35">
                                <a href="index.html"><img src="<%= theme_asset_url('img/logo/logo2_footer.png') %>" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p><%= current_site.the_title %></p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <% current_theme.the_fields_grouped(['social_network_class', 'social_network_url']).each do |group| %>
                                  <a href="<%= group['social_network_url'][0] %>"><i class="<%= group['social_network_class'][0] %>"></i></a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4><%= current_theme.the_field('home_main_site_map', 'Map of the site') %></h4>
                            <ul>
                                <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
                                    <li><a href="<%= item[:url] %>"><%= item[:label] %></a></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4><%= current_theme.the_field('home_main_categories', 'Categories') %></h4>
                            <ul>
                                <%= render partial: 'partials/categories' %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4><%= current_theme.the_field('home_main_contact_us', 'Contact us') %></h4>
                            <ul>
                                <li><a href="mailto:<%= current_theme.get_option('email_info', 'default_email@example.com') %>"><%= current_theme.get_option('email_info', 'default_email@example.com') %></a></li>
                                <li><a href="#"><%= current_theme.get_option('address_info', 'New York') %></a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li class="number"><a href="#"><%= current_theme.get_option('phone_info', '+0943 976 908') %></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>